@charset "UTF-8";
#cookies-alert {
    background-color: #1196d3;
    color: #fff;
}

.tile {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    margin-bottom: 3vw;
    padding: 40px;
    max-width: 450px;
    max-height: 450px;
    height: 25vw;
    width: 25vw;
}

.tile a:not(.btn) {
    color: white;
}

.tile a:not(.btn):hover,
.tile a:not(.btn):focus {
    color: white;
}

.tile a:not(.btn):active {
    color: white;
}

.tile p {
    margin-bottom: 0;
}

.tile-page-wrapper {
    align-self: center;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .tile-page-wrapper {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .tile-page-wrapper .tile {
        height: 40vw;
        width: 100%;
        max-width: none;
    }
}

.tile-container-3-col {
    padding: 3em 0;
    width: calc(25vw * 3 + 3vw * 2);
}

@media (min-width: 768px) {
    .tile-container-3-col {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .tile-container-3-col {
        max-width: none;
        width: auto;
    }
}

@media (min-width: 1400px) {
    .tile-container-3-col {
        max-width: calc(450px * 3 + 3vw * 2);
    }
}

.tile-container-3-col .tile {
    padding: 0;
    margin-right: 3vw;
}

.tile-container-3-col .tile-content {
    padding: 40px;
}

.long-tile {
    background-color: #efefef;
    color: #1e3264;
    height: calc(25vw * 2 + 3vw);
    max-height: calc(900px + 3vw);
}

.long-tile a:not(.btn),
.long-tile a:not(.btn):hover,
.long-tile a:not(.btn):active,
.long-tile a:not(.btn):focus {
    color: #1e3264;
}

.wide-tile {
    flex-flow: row wrap;
    width: calc(25vw * 2 + 3vw);
    max-width: calc(450px * 2 + 3vw);
}

.wide-tile .content-text h2 {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .wide-tile .content-text h2 {
        margin-right: 8vw;
    }
}

.wide-tile .content-text .lead {
    align-self: flex-end;
}

.tile.hero-tile {
    justify-content: start;
    padding-top: 10vh;
}

.tile.hero-tile .btn {
    margin-top: 2em;
    display: inline-block;
}

.tile.hero-tile .tile-content {
    flex: 2;
}

@media (min-width: 1200px) {
    .long-tile {
        margin-right: 3vw;
    }
    .hero-tile {
        padding: 50px;
    }
}

@media (min-width: 768px) {
    .small-tile-container,
    .content-text {
        display: flex;
    }
    .small-tile:not(:last-child) {
        margin-right: 3vw;
    }
}

@media (max-width: 767px) {
    .tile,
    .hero-tile {
        padding: 2em 15px;
    }
    .long-tile,
    .wide-tile,
    .small-tile {
        height: auto;
        width: 100%;
        max-width: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .tiles .small-tile {
        width: 38vw;
    }
    .tiles .long-tile,
    .tiles .wide-tile {
        width: 79vw;
        max-width: none;
    }
}

@media (max-width: 1199px) {
    .tiles .tile {
        height: auto;
    }
}

@media (min-width: 768px) {
    .feature-hero h1 {
        max-width: 80vw;
    }
    .feature-hero h4 {
        max-width: 60vw;
    }
    #features {
        margin-left: 2em;
    }
}

@media (max-width: 767px) {
    .featured-app {
        flex-direction: column;
        max-height: none;
    }
    .featured-app-info {
        background: none;
        padding-left: 0;
    }
    .feature-title {
        font-size: 36px;
    }
}

@media (max-width: 1000px) {
    .feature-flex {
        flex-direction: column;
    }
}

nav,
#top-nav input,
#developer-footer {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.5px;
}

nav .navbar-col a,
#top-nav input .navbar-col a,
#developer-footer .navbar-col a {
    color: white;
}

nav .navbar-col a:hover,
nav .navbar-col a:focus,
#top-nav input .navbar-col a:hover,
#top-nav input .navbar-col a:focus,
#developer-footer .navbar-col a:hover,
#developer-footer .navbar-col a:focus {
    color: #1db954;
}

nav .navbar-col-title,
#top-nav input .navbar-col-title,
#developer-footer .navbar-col-title {
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#top-nav {
    padding: 0 10px;
    min-height: 70px;
    width: 100%;
}

#top-nav .navbar-header .accessibility-aid {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#top-nav .navbar-header .accessibility-aid:focus {
    width: auto;
    height: auto;
    clip: auto;
    display: block;
    top: 0;
    left: 0;
    margin: 6px 15px;
    z-index: 1001;
}

#top-nav .navbar-inner-background {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#top-nav .right-align-nav-item {
    margin-left: 200px;
}

#top-nav .navbar-nav {
    padding-left: 22px;
}

#top-nav .navbar-nav>li,
#top-nav .navbar-nav>li>a {
    position: unset;
}

@media (min-width: 992px) {
    #top-nav .navbar-nav .hover-menu {
        position: absolute;
    }
}

@media (min-width: 1200px) {
    .navbar-default .navbar-nav {
        padding-left: 2em;
    }
}

@media (min-width: 992px) {
    .navbar-default .navbar-nav>li:hover>.hover-menu {
        display: flex;
        padding-left: 50px;
        transform: translateY(0);
        opacity: 1;
        position: fixed;
    }
    .navbar-default .navbar-nav .navbar-col {
        max-width: 8em;
        margin-right: 5em;
    }
}

.navbar-default .navbar-nav>li {
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-weight: 100;
    padding: 23px 1em;
}

#top-nav .navbar-header>.navbar-brand svg {
    height: auto;
    padding: 15px 0 0;
    width: 250px;
}

#close-top-navbar,
#mobile-nav-search,
#desktop-nav-search {
    float: right;
    font-size: 1.5em;
    background-color: black;
    border: none;
    margin-bottom: 0;
    text-align: center;
    width: 42px;
}

#close-top-navbar:hover,
#mobile-nav-search:hover,
#desktop-nav-search:hover {
    cursor: pointer;
}

#mobile-nav-search .fa,
#desktop-nav-search .fa {
    color: white;
    display: block;
    font-size: 23px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#close-top-navbar {
    padding-top: 17px;
}

.hover-menu {
    background-color: #222326;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 1;
}

.hover-menu .navbar-col svg {
    display: inline-block;
    height: 25px;
    margin: 0 5px 5px 0;
    width: 25px;
}

.hover-menu .navbar-col .sub-nav {
    padding-left: 0;
}

.hover-menu .navbar-col .sub-nav>li {
    margin: 5px 0;
}

.hover-menu .navbar-col .sub-nav>li a {
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .hover-menu {
        display: flex;
        left: 0;
        padding: 2em 2em 3em 230px;
        position: fixed;
        transform: translateY(-310px);
        z-index: -2;
        opacity: 0;
    }
    .hover-menu .navbar-col svg {
        display: block;
        height: 35px;
        margin-bottom: 10px;
        width: 35px;
    }
    .hover-menu .navbar-col svg * {
        fill: #1db954;
    }
    .hover-menu .sub-nav {
        margin-top: 10px;
    }
}

@media (min-width: 1200px) {
    .hover-menu {
        padding-left: 250px;
    }
}

aside {
    position: relative;
    background-color: #efefef;
    padding: 55px 30px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: auto;
    max-width: 250px;
}

@media (max-width: 991px) {
    aside {
        display: none;
    }
}

aside ul {
    padding-left: 0;
}

aside ul.inner {
    margin-top: 7px;
    padding-left: 1em;
}

aside ul.inner li {
    font-size: 13px;
    font-weight: 100;
    line-height: 1.3;
}

aside ul.inner li .active {
    color: black;
    font-weight: 500;
}

aside ul.outer {
    font-weight: 400;
}

aside ul a {
    color: black;
}

aside ul li {
    margin-bottom: 7px;
}

aside .page-title {
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
}

#secondary-navbar {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
}

@media (max-width: 991px) {
    #secondary-navbar {
        display: none;
    }
}

#secondary-navbar .bg-accent,
#secondary-navbar ul {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 7px 30px;
    text-transform: uppercase;
}

#secondary-navbar .bg-accent a,
#secondary-navbar ul a {
    color: white;
}

#secondary-navbar ul {
    background-color: #222326;
    flex: 1;
    margin: 0;
}

@media (min-width: 992px) {
    #secondary-navbar ul {
        display: flex;
    }
}

#secondary-navbar ul a {
    font-weight: 100;
    margin-right: 3em;
    letter-spacing: 1px;
}

#secondary-navbar ul a.active {
    font-weight: 400;
}

.bg-accent,
aside {
    flex: 0 0 230px;
}

@media (min-width: 1200px) {
    #top-nav .navbar-nav {
        padding-left: 56px;
    }
    #top-nav .navbar-nav>li {
        margin-right: 32px;
    }
    #top-nav .navbar-nav>li .hover-menu {
        padding-left: 50px;
    }
    #secondary-navbar ul {
        padding-left: 45px;
    }
    aside,
    #secondary-navbar .bg-accent {
        min-width: 250px;
    }
}

@media (max-width: 991px) {
    .overview-links {
        display: block;
    }
    .navbar-header {
        margin: 0 5px;
        min-height: 70px;
    }
    li a {
        width: 100%;
    }
    .hover-menu {
        padding: 0 20px 0 30px;
    }
    .hover-menu .navbar-col {
        margin-bottom: 17px;
    }
    .hover-menu .navbar-col>a {
        font-size: 13px;
    }
    .hover-menu .navbar-col svg {
        height: 18px;
        width: 18px;
        margin-right: 10px;
    }
    .hover-menu .navbar-col a {
        display: inline-flex;
        -webkit-font-smoothing: antialiased;
    }
    .hover-menu .navbar-col .fa-angle-down {
        margin: 2px 10px;
        vertical-align: middle;
    }
    .sub-nav>li {
        padding-left: 40px;
    }
    .sub-nav li {
        margin: 9px 0;
    }
    #top-nav {
        padding: 0;
    }
    #top-nav .navbar-nav {
        background-color: #222326;
        margin: 0;
        padding: 0;
    }
    #top-nav .navbar-nav>li {
        border-top: 1px solid #616467;
    }
    #top-nav .navbar-nav>li>a {
        display: inline-block;
        padding: 25px 15px 25px 30px;
        height: 70px;
    }
    .navbar-collapse {
        padding: 0;
    }
    .fa-angle-down {
        color: white;
        margin: 23px 10px;
        font-size: 1.2em;
    }
}

@media (min-width: 992px) {
    .overview-links {
        display: none;
    }
}

.footer {
    background-color: #222326;
    clear: both;
    padding-bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.footer .nav-title {
    margin-top: 15px;
}

.footer .nav-title a {
    color: white;
}

.footer .nav-title a:hover,
.footer .nav-title a:focus {
    color: white;
}

.footer .nav-title a:active {
    color: white;
}

.footer .main-footer {
    background-color: #222326;
}

.footer .main-footer li a {
    font-weight: 100;
}

.footer .main-footer a {
    font-size: 14px;
}

.footer .row-small {
    background-color: black;
    padding: 30px 0 20px;
}

@media (max-width: 991px) {
    .footer .row-small {
        padding: 20px 0;
    }
}

.footer .footer-logo {
    background-repeat: no-repeat;
    background-position: -7px;
    margin-bottom: 20px;
    height: 57px;
    width: 57px;
}

.footer h3 a {
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.footer hr {
    border-top-color: #c1c3c6;
    margin: 0;
}

.wrap-content {
    display: flex;
}

pre.highlight,
figure.highlight>pre {
    background: #282c34;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.35;
    overflow: auto;
    position: relative;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-family: 'source code pro', menlo, monospace;
    font-weight: 200;
    font-size: 16px;
}

body {
    font-weight: 100;
    background-color: #000;
    overflow-x: hidden;
}

.wrap {
    background-color: #fff;
}

.wrap:not(.split-screen) .highlighter-rouge:not([class*='language']) .highlight {
    background-color: #efefef;
    padding: 0 3px;
    border-radius: 0;
    color: black;
    display: table;
}

*:active {
    outline-width: 0 !important;
}

nav ul,
aside ul {
    list-style: none;
}

table {
    margin: 20px 0 50px;
}

.bg-accent {
    background-color: #1db954;
}

.text-accent {
    color: #1db954;
}

article {
    padding: 3em 28px 40px;
}

main {
    width: 100%;
}

main .post-header h1,
main .post-header h2,
main .post-header h3 {
    margin-top: 0;
}

main .post-header p {
    width: 60%;
    margin-top: -10px;
}

.vertical-divider {
    background-color: #c1c3c6;
    height: 100px;
    margin: 18px 0 35px;
    width: 1px;
}

.underline.active {
    font-weight: 400;
    margin-top: -3px;
}

.underline.active::before {
    border-bottom: 3px solid #1db954;
    top: 28px;
    content: '';
    display: block;
    position: relative;
    width: 40px;
}

@media (max-width: 991px) {
    .underline.active::before {
        bottom: 16px;
    }
}

a {
    transition: 0.1s ease;
    word-wrap: break-word;
}

p.lead {
    font-weight: 100;
    line-height: 1.3;
}

@media (min-width: 1200px) {
    .tiles {
        display: flex;
    }
}

.wrap-content {
    min-height: calc(100vh - 511px - (60px + 35px));
}

.optimal-paragraph-width article {
    max-width: 900px;
}

#cookies-alert {
    margin-bottom: 0;
    z-index: 1001;
    position: relative;
}

.endpoint-list tr td:nth-of-type(1) {
    text-transform: uppercase;
}

input:not([type='submit']).form-control,
textarea.form-control {
    font-size: 20px;
    line-height: 1.2;
    resize: none;
}

.label {
    font-size: 40%;
    margin-left: 10px;
}

.display-1-label {
    font-size: 25%;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

article.post .bg-info {
    padding: 11.5px;
}

.alert.alert-larger-text {
    font-size: 14px;
}

@media (min-width: 768px) {
    .related-posts {
        display: flex;
    }
    .related-posts section:first-of-type {
        padding-right: 2em;
    }
    .related-posts section:last-of-type {
        padding-left: 2em;
    }
}

.related-posts section {
    flex: 1;
}

.related-posts section:first-of-type {
    padding: 1em 1em 1em 0;
    text-align: right;
}

.related-posts section:last-of-type {
    padding: 1em 0 1em 1em;
}

.related-posts section h4 {
    font-weight: 700;
    margin: 10px 0;
}

.related-posts section .post-date {
    margin-top: 3px;
}

.related-posts .vertical-divider {
    height: inherit;
}

.start .has-hover-overlay {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.start .tile {
    display: flex;
}

.start .tile .tile-header {
    text-transform: uppercase;
    margin-top: 0;
}

.start .tile .lead {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.start .tile-content {
    z-index: 1;
    padding: 40px;
}

.start a.tile:hover,
.start a.tile:focus {
    color: white;
}

.start a.tile:active {
    color: white;
}

.start a.long-tile:hover,
.start a.long-tile:focus {
    color: #1e3264;
}

.start a.long-tile:active {
    color: #1e3264;
}

.start .hero-title {
    color: #222326;
}

.start .hero-title a {
    color: #af2896;
}

.start .hero-title a:hover {
    color: #222326;
    text-decoration: underline;
}

.start .home {
    padding: 0;
}

@media (min-width: 1200px) {
    .start .home {
        height: calc(90vh - 60px);
    }
    .start .home .small-tile-container {
        display: block;
    }
}

@media (min-width: 1400px) {
    .start .home .hero-title {
        font-size: 60px;
    }
}

@media (min-width: 992px) {
    .start .home .small-tile-container {
        flex: 0 0 34%;
    }
}

@media (max-width: 767px) {
    .start .home .tile-content {
        padding: 5em 15px;
    }
}

.start .home .tile,
.start .home .wide-tile,
.start .home .long-tile {
    height: auto;
    max-height: none;
    width: auto;
    max-width: none;
    margin: 0;
}

.start .home .hero-tile {
    background-color: #af2896;
    background-image: url("../img/home/tile-1-alt-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

@media (max-width: 767px) {
    .start .home .hero-tile {
        padding: 0 15px 5em;
    }
}

@media (min-width: 992px) {
    .start .home .hero-tile .lead,
    .start .home .hero-tile .hero-title {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .start .home .small-tile {
        height: 50%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .start .home .small-tile {
        width: 50%;
    }
}

.start .home .small-tile:nth-of-type(1) {
    background-color: #efefef;
    color: #1e3264;
}

.start .home .small-tile:nth-of-type(1) .hover-overlay {
    background-image: url("../img/home/tile-5-bg.svg");
    position: absolute;
    z-index: 0;
    transition: opacity 0.3s ease, background-size 0.3s ease;
    opacity: 0;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 140%;
    height: 100%;
    width: 100%;
}

.start .home .small-tile:nth-of-type(1):hover .hover-overlay {
    opacity: 1;
    background-size: 145%;
}

.start .home .small-tile:nth-of-type(2) {
    background-color: #1e3264;
}

.start .home .small-tile:nth-of-type(2) .hover-overlay {
    background-image: url("../img/home/tile-7-bg.svg");
    position: absolute;
    z-index: 0;
    transition: opacity 0.3s ease, background-size 0.3s ease;
    opacity: 0;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 140%;
    height: 100%;
    width: 100%;
}

.start .home .small-tile:nth-of-type(2):hover .hover-overlay {
    opacity: 1;
    background-size: 145%;
}

.start .home img {
    margin-bottom: 2em;
    width: 70px;
}

.start .homepage-tabs {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
}

.start .homepage-tab {
    cursor: pointer;
}

.start .try-out {
    font-size: 20px;
    text-align: center;
    width: 90vw;
    position: absolute;
    bottom: 55px;
    color: #fff;
}

.start .down-chevron {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    width: 40px !important;
}

.start .features nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start .features nav>a {
    background: #888;
    list-style: none;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

.start .features nav>a:not(:first-child) {
    margin-left: 5px;
}

.start .features nav>a.active {
    background: #f8f8f8;
    font-weight: bold;
    color: #333;
}

.start .features nav>a:not(.active):hover {
    background: #ccc;
    color: black;
}

.start .features .tab-active>a {
    color: #af2896;
}

.start .features .nav-item {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 55px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    color: #919496;
    font-weight: 700;
    position: relative;
    padding-right: 25px;
    padding-left: 25px;
    cursor: pointer;
}

.start .features .nav-tabs {
    margin: 0 auto;
    border-bottom: none;
}

.start .features .nav-tabs>li:hover {
    border-bottom: none;
}

.start .features .tab-active::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 32px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #af2896;
    transition: background 0.3s;
}

.start .features .nav-item:hover::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 32px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: #af2896;
    transition: background 0.3s;
}

.start .community {
    padding: 60px 15px 80px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .start .community {
        padding-bottom: 0;
    }
    .start .community .tile {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .start .community {
        padding: 8em 5em;
    }
}

.start .community .tiles {
    align-self: center;
}

.start .community .tiles .long-tile {
    transition: background-size 0.3s ease;
    background-position: center;
    background-size: 130%;
}

.start .community .tiles .long-tile:hover {
    background-size: 135%;
}

.start .community .tile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.start .community .section-title {
    margin-bottom: 2em;
    text-align: center;
}

.start .community .long-tile {
    background-color: #c1c3c6;
    background-image: url("../img/home/tile-4-bg.jpg");
    padding: 0;
}

.start .community .long-tile .content-text {
    display: block;
}

.start .community .small-tile:nth-of-type(1) {
    background-color: #19e68c;
}

.start .community .small-tile:nth-of-type(1) .hover-overlay {
    background-image: url("../img/home/tile-5-bg.svg");
    position: absolute;
    z-index: 0;
    transition: opacity 0.3s ease, background-size 0.3s ease;
    opacity: 0;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 140%;
    height: 100%;
    width: 100%;
}

.start .community .small-tile:nth-of-type(1):hover .hover-overlay {
    opacity: 1;
    background-size: 145%;
}

.start .community .small-tile:nth-of-type(2) {
    background-color: #c1c3c6;
}

.start .community .small-tile:nth-of-type(2) .hover-overlay {
    background-image: url("../img/home/tile-6-bg.svg");
    position: absolute;
    z-index: 0;
    transition: opacity 0.3s ease, background-size 0.3s ease;
    opacity: 0;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 140%;
    height: 100%;
    width: 100%;
}

.start .community .small-tile:nth-of-type(2):hover .hover-overlay {
    opacity: 1;
    background-size: 145%;
}

.start .community .wide-tile {
    background-color: #1e3264;
}

.start .community .wide-tile .hover-overlay {
    background-image: url("../img/home/tile-7-bg.svg");
    position: absolute;
    z-index: 0;
    transition: opacity 0.3s ease, background-size 0.3s ease;
    opacity: 0;
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 140%;
    height: 100%;
    width: 100%;
}

.start .community .wide-tile:hover .hover-overlay {
    opacity: 1;
    background-size: 145%;
}

.start .feedback {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .start .feedback {
        padding-top: 8em;
        padding-bottom: 8em;
    }
    .start .feedback li {
        display: inline;
    }
}

@media (max-width: 767px) {
    .start .feedback .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1199px) {
    .start .feedback .social-media h1 {
        margin-top: 55px;
    }
}

.start .feedback h1 {
    margin-bottom: 30px;
}

.start .feedback ul {
    list-style: none;
    padding-left: 0;
}

.start .feedback ul i {
    font-size: 1.3em;
    margin-right: 7px;
}

.start .feedback ul a {
    color: black;
}

.start .feedback ul li:not(:last-child) {
    margin: 0 15px 15px 0;
}

.col-md-5.display-1 {
    min-width: 500px;
}

.post.post-showcase .hero-background .showcase-description {
    font-size: 20px;
    padding-top: 15px;
}

@media (max-width: 991px) {
    .post.post-showcase .hero-background .showcase-description {
        padding: 0 28px;
    }
}

.features {
    padding: 35px 1em 50px;
}

@media (min-width: 768px) {
    .features {
        padding: 4em 5em 8em;
    }
    .features hr {
        width: 650px;
    }
    .features .col-md-5 {
        margin-top: 10px;
    }
}